@define-color white      	#F2F2F2;
@define-color black      	#000000;
@define-color text       	#FFFFFF;
@define-color lightgray  	#686868;
@define-color darkgray   	#353535;
@define-color red        	#b80404;
@define-color teal		 	#017554;
@define-color blue          #00236e;
@define-color purple        #7e2979;
@define-color aqua          #0094b2;

@define-color transparent	rgba(0, 0, 0, 0.25);
@define-color teal-trans	rgba(1, 117, 84, 0.5);
@define-color cyan			rgba(53, 140, 169, 1);

@import '../../.cache/wal/colors-waybar.css';

@define-color background-module     @transparent;
@define-color border-color          @color10;
@define-color button-color          @color11;
@define-color button-hover          @color12;


* {
	font-size: 14px;
	font-family: JetBrainsMono NF ExtraBold;	
}

window#waybar {
	background: transparent;
    font-size: 30;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 2px 2px black;
}

#custom-launcher,
#memory,
#cpu {
    background-color: @background-module;
    font-size: 30px;

    color: #1793d1;
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
}
#temperature {
    background-color: @background-module;
    font-size: 20px;
    color: #1793d1;
    padding: 0px 20px 0px 0px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
    border-right:2px solid @border-color;
    border-bottom-right-radius: 60px;
}

#custom-updates {
    color: green;
    background-color: @background-module;
    font-size: 20px;
    padding: 0px 0px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;

}

#window, 
#custom-spotify {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    color:#FFFFFF;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
    background: @background-module;
    margin: 3px 3px 3px 3px;
    padding: 0px 10px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border:2px solid @border-color;
    font-weight: bold;
    font-style: normal;
    opacity:0.8;
    font-size:16px;
    color:#FFFFFF;
}

#workspaces button {
    padding: 1px 1px;
    margin: 3px 3px;
    border-radius: 15px;
    border:0px;
    color: @color13;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    opacity:0.8;
}

#workspaces button.active,
#workspaces button.visible {
    color: #FFFFFF;
/*    background: @button-color;*/
    border-radius: 15px;
    border: 1.2px solid @border-color;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button.empty {
    color: #FFFFFF;
    /*background: @button-color;
    border-radius: 15px;
    border: 1px solid @border-color;
    min-width: 40px;
    transition: all 0.3s ease-in-out;*/
    opacity:1.0;
}

#workspaces button:hover {
    color: #FFFFFF;
    background: transparent;
    border: 1px solid @border-color;
    border-radius: 15px;
    opacity:1.0;
}

#custom-notification {
    color: orange;
    background-color: @background-module;
    font-size: 20px;
    padding: 0px 0px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
}

#pulseaudio,
#memory,
#cpu{
    background-color: @background-module;
    font-size: 20px;
    padding: 0px 8px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
}

#tray,
#clock,
#custom-weather{
    background-color: @background-module;
    font-size: 20px;
    color: aliceblue;
    padding: 0px 5px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
}

#tray{
    padding: 0px 0px 0px 17px;
    font-size: 20px;
    border-left:2px solid @border-color;
    border-bottom-left-radius: 60px;
}

#custom-spotify,
#pulseaudio {
	color: @color13;
}
#pulseaudio.muted {
    color: red;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}

#custom-powermenu {
    background-color: @background-module;
    font-size: 20px;
    color: red;
    padding: 0px 0px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity:1.0;
    border-bottom:2px solid @border-color;
    border-top:2px solid @border-color;
}